@import "src/global/GlobalStyle/ColorStyle.scss";

.listview-table {
    & .sort-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        visibility: hidden;
        padding: 0px 2px;

        &:has(.active) {
            visibility: visible;
        }

        & .sort-up,
        .sort-down {
            font-size: 14px;
            color: #EBEFF5;
        }

        & .sort-up {
            position: absolute;
            top: 0px;
        }

        & .active {
            color: #2275FF !important;
        }
    }

    & .ant-table-thead .ant-table-cell {
        background: #fff !important;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: #A0AEC0;
        border-bottom: 1px solid #E2E8F0;

        & .ant-table-column-sorters {
            gap: 15px;
        }

        & .ant-table-filter-column {
            align-items: center;

            & .ant-table-column-title {
                height: 26px;
                display: flex;
                align-items: center;
            }

            & .ant-table-filter-trigger {
                padding: 0 8px !important;
                border-radius: 8px;
                margin-inline: 8px 0px;
                height: 26px;

                &:hover {
                    color: #A0AEC0;
                    background: #F3F5F9;
                }
            }
        }

        &:hover {
            & .sort-column {
                visibility: visible;

                & .sort-up,
                .sort-down {
                    color: #A0AEC0;
                }
            }
        }
    }

    & .ant-checkbox-indeterminate {
        & .ant-checkbox-inner {
            &::after {
                top: 50%;
                inset-inline-start: 50%;
            }
        }
    }

    & .ant-checkbox-inner {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        border: 1px solid #E2E8F0;

        &::after {
            top: 45.5%;
            inset-inline-start: 25%;
        }
    }

    & .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2275FF;
        border-color: #2275FF;
    }

    & .ant-table-tbody,
    .ant-table-thead {
        & .ant-table-selection-column {
            text-align: left;

            &:not(.avartar-container, .avatar-empty) {
                padding: 16px 8px 16px 8px;
            }

            &:has(.avartar-container) {
                padding: 8px;
            }

            &:has(.avatar-empty) {
                padding: 16px 8px 16px 8px;
            }
        }

        & .column-action {
            padding: 0px;
            display: flex;
            z-index: 1;
            gap: 10px;
            align-items: center;

            & .row-action {
                display: flex;
                align-items: center;
                gap: 17px;

                & .btn-star {
                    color: #E2E8F0;
                    transition: transform .2s ease;

                    & .star-nonactive {
                        display: block;
                    }

                    & .star-active {
                        display: none;
                        width: 22.5px;
                        height: 22px
                    }

                    &:hover {
                        cursor: pointer;
                        color: #A0AEC0;
                        transform: scale(1.1);
                    }

                    &:active {
                        transform: translateY(2px);
                    }

                    &.active {
                        & .star-active {
                            display: block;
                        }

                        & .star-nonactive {
                            display: none;
                        }
                    }
                }

                & .num-row {
                    color: #344767;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1;
                    margin-top: 2px;
                }

                & .avatar-empty {
                    width: 38px;
                    object-fit: cover;
                }

                & .avartar-container {
                    display: flex;
                    align-self: center;

                    & .avatar {
                        width: 38px;
                        height: 38px;
                        border-radius: 50px;
                        box-shadow: rgb(20 20 20 / 5%) 0rem 0.5rem 1.625rem -0.25rem, rgb(20 20 20 / 6%) 0rem 0.5rem 0.5625rem -0.3125rem;
                        object-fit: cover;
                    }

                    & .ant-image-mask {
                        border-radius: 50px;
                    }
                }
            }
        }

        & .column-cell {
            min-width: 170px;
            max-width: 280px;
            padding: 14px 16px;

            &.active {
                color: $info !important;
            }

            & .btn-clear-sort {
                font-size: 14px;
                line-height: 1;
                text-transform: none;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 0 10px 0 2px;
                justify-content: center;
                color: #F63A46;
                opacity: 0.7;
                transition: transform .2s ease;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    transform: scale(1.1);
                }

                &:active {
                    transform: translateY(1.5px);
                }
            }

            &.fixed-first-column {
                left: 106px !important;
                min-width: 270px;
                max-width: 400px;
            }

            &.fixed-first-column-img {
                left: 161px !important;
                min-width: 270px;
                max-width: 400px;
            }

            & .ant-table-row-expand-icon {
                margin-top: 4px;
                margin-inline-end: 15px;
            }
        }

        & .cell-value {
            color: #344767;
        }

        & .cell-link-value {
            color: #2275FF;
        }

        & .cell-value-info {
            color: $info;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: keep-all;
        }

        & .cell-value-expaned {
            color: #344767;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: keep-all;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;

            & .count-child,
            & .count-checklist {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #A0AEC0;
            }

            & .count-checklist {
                padding-left: 5px;
            }
        }

        & .cell-skeleton {
            border-radius: 20px;
            line-height: 1;

            &.ant-skeleton-input-sm {
                height: 14px;
            }
        }
    }

    & .ant-table-thead {
        position: sticky;
        top: 0px;
        z-index: 10;
    }
}