$success: #54cb33;
$success2: #04b9a7;
$info: #2275ff;
$danger: #f88537;
$error: #f63a46;
$disable: #899aba;
$black: #282d4c;
$lavender: #b824df;
$purple: #8c1ad2;

$white: rgb(255, 255, 255);
$success-secondary: rgba(130, 225, 47, 0.4);
$success2-secondary: rgba(3, 217, 196, 0.4);
$info-secondary: rgba(33, 212, 253, 0.4);
$danger-secondary: rgba(250, 181, 52, 0.4);
$error-secondary: rgba(252, 88, 107, 0.4);
$disable-secondary: rgba(156, 172, 204, 0.4);
$black-secondary: rgba(58, 65, 111, 0.4);
$lavender-secondary: rgba(233, 47, 237, 0.4);
$purple-secondary: rgba(233, 47, 237, 0.4);

$success-gradient: linear-gradient(310deg, #2cb735, #82e12f);
$success2-gradient: linear-gradient(310deg, #038f81, #03d9c4);
$info-gradient: linear-gradient(310deg, #2152ff, #21d4fd);
$danger-gradient: linear-gradient(310deg, #f64f39, #fab534);
$error-gradient: linear-gradient(310deg, #ee181c, #fc586b);
$disable-gradient: linear-gradient(310deg, #7487a6, #9caccc);
$black-gradient: linear-gradient(310deg, #141727, #3a416f);
$lavender-gradient: linear-gradient(310deg, #7c15cd, #e92fed);
$purple-gradient: linear-gradient(108.44deg, #e92fed 3.57%, #7c15cd 97.13%);

$grey-hover: rgba(0, 0, 0, 0.025);
$darkGrey-hover: rgba(0, 0, 0, 0.06);