.kanban-column-container {
  display: flex;
  flex-direction: column;
  --columns: 1;
  overflow: hidden;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  width: 340px;
  border-radius: 16px;
  height: fit-content;
  max-height: calc(100vh - 14rem);
  transition: background-color 200ms ease;
  background-color: #fff;

  &.hover {
    background-color: #fff;
  }

  &.shadow {
    box-shadow: 0 1px 10px 0 rgba(34, 33, 81, 0.1);

    ul {
      padding-right: 20px;
    }

    & .header-container,
    & .header-title {
      & .icon-edit {
        visibility: hidden !important;
      }

      &:hover {
        cursor: grabbing !important;
      }
    }
  }

  ul {
    display: grid;
    list-style: none;
    padding: 2px 2px 2px 20px;
    margin: 0;

    & .ReactVirtualized__List {
      overflow-y: scroll !important;

      &::-webkit-scrollbar {
        width: 18px;
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(214, 222, 225, 0.53);
        border: 6px solid transparent;
        border-radius: 20px;
        background-clip: content-box;
        transition: transform 0.2s ease, background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #ccd5d8;
      }
    }
  }

  &.disabled {
    & .header-container {
      cursor: default;
    }
  }

  & .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: #344767;
    cursor: grab;

    & .group-left {
      padding: 0 5px;
    }

    & .group-left,
    & .group-right {
      display: flex;
      align-items: center;
      gap: 10px;

      & .header-title {
        font-weight: 540;
        font-size: 15px;
        line-height: 1;
        height: 32px;
        display: flex;
        align-items: center;
        padding-left: 12px;

        & span {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        & .icon-edit {
          margin-left: 8px;
          color: #A0AEC0;
          visibility: hidden;
        }

        &.editable {
          &:hover {
            cursor: pointer;

            & .icon-edit {
              visibility: visible;
            }
          }
        }

        &:focus {
          cursor: text;
        }
      }

      & .input-header-title {
        font-weight: 540;
        font-size: 15px;
        height: 32px;
        width: 100%;
      }

      & .btn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        color: #A0AEC0;
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }
      }

      & .header-count {
        color: #A0AEC0;
        display: flex;
        align-items: center;

        & .header-count-badge {
          & .ant-badge-count {
            font-size: 14px;
            padding: 0;
            background: #fff;
            color: #A0AEC0;
          }

        }
      }
    }
  }

  & .footer-container {
    background: #fff;

    & .group-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      height: 40px;

      &:hover {
        cursor: pointer;

        & .btn-add-task {
          color: #33BA35;
          transform: scale(1.1);
        }
      }

      & .btn-add-task {
        background: #fff;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #A0AEC0;
        transition: transform 0.2s ease;
        user-select: none;

        &:active {
          transform: scale(0.93);
        }
      }
    }
  }
}

.kanban-more-container {
  position: fixed;

  & .more-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 10px;
    border-radius: 1rem;
    width: 200px;
    max-height: 250px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);

    & .more-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px;
      height: 40px;
      border-radius: 10px;
      width: 100%;
      user-select: none;

      & span {
        color: #344767;
        line-height: 1;
      }

      &:hover {
        background-color: #F3F5F9;
        cursor: pointer;
      }
    }

    & .remove {
      color: #E53E3E;

      & span {
        color: #E53E3E;
      }
    }

  }
}